:root {
    --general-text: #312C27;
    --accent-text: #1F1711;
    --general-bg: #FFF9F4;
    --accent-bg: #FFA55C;
}


body {
    font-family: "Montserrat";
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1310px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    color: var(--general-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    border-radius: 60px;
    background: var(--accent-bg);
    height: 62px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .4s;
}

.button:hover {
    background: #FF9138;
    
}

/*===============================*/

.header {
    background: url("images/firstscreen-bg.png") 50% 100% / cover no-repeat;
    padding-bottom: 140px;
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    max-width: 175px;
    z-index: 11;
}

.header__nav {}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__item {}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    background: var(--accent-bg);
    border-radius: 50%;
    opacity: 0;
}

.nav__link:hover::before {
    opacity: 1;
    transition: all .4s;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: flex;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--accent-text);
    transition: all .4s;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}
.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}
.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

/*===============================*/

.hero {
    margin-right: 247px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
}

.hero__content {}

.hero__info {
    margin-top: 130px;
    color: #B197B2;
    line-height: 1.6;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.hero__info span {
    display: flex;
    align-items: center;
}
.hero__info span::after {
    content: '';
    background: #B197B2;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 0 10px;
    display: block;
}
.hero__info span:last-child:after {
    content: none;
}

.hero__title {
    color: var(--accent-text);
    font-family: Gabriola;
    font-size: 74px;
    line-height: 0.82;
    max-width: 519px;
    margin-bottom: 30px;
}

.hero__text {
    color: var(--general-text);
    margin-bottom: 40px;
    max-width: 358px;
}

.header__button {
    max-width: 358px;
}

.hero__img {
    margin-top: 48px;
    position: relative;
}

.hero__img-control {
    max-width: 200px;
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 11%;
    left: calc(100% - 39px);
    gap: 10px;
}

.hero__img-control img {
    padding-left: 8.8%;
}

.hero__img-button {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: #FFE0CB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
}
.hero__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 1px solid var(--accent-bg);

    opacity: 0;
    transition: all .4s;
}
.hero__img-button:hover::before {
    opacity: 1;
}

/*===============================*/

@media (max-width: 900px) {
    .burger-icon {
        display: flex;
    }

    .header__nav {
        position: fixed;
        font-size: 24px;
        z-index: 10;
        background: var(--general-bg);
        inset: 0;
        padding: 26vh 15px 30px;

        transform: translateY(-50%);
        transition: all .4s;
        opacity: 0;
        visibility: hidden;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .header__nav{
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }
}